
<div class="mr-5 ml-5 mt-3" *ngIf="personnageService.tokenAcquisPersonnage == true">
  <!--
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Personnage</th>
      <th scope="col">Sexe</th>
      <th scope="col">Lvl</th>
      <th scope="col">Classe</th>
      <th scope="col">Race</th>
      <th scope="col">Serveur</th>
      <th scope="col">Faction</th>
      <th scope="col">#</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of personnageService.personnagesObject; let index = index" [ngStyle]="{color:getFaction(item.faction)}" >
              <th scope="row"> {{ index }}</th>
              <td>{{item.name}}</td>
              <td>{{item.gender}}</td>
              <td>{{item.lvl}}</td>
              <td>{{item.classe}}</td>
              <td>{{item.race}}</td>
              <td>{{item.realm}}</td>
              <td>{{item.faction}}</td>
              <td><a [routerLink]="[index]">Détails</a></td>
      </tr>
    </tbody>
  </table>
-->

<div class="row h3 bg-secondary rounded text-white text-center pb-2">
  <div class="col">
    #
  </div>
  <div class="col">
    Personnage
  </div>
  <div class="col">
    Sexe
  </div>
  <div class="col">
    Lvl
  </div>
  <div class="col">
    Classe
  </div>
  <div class="col">
    Race
  </div>
  <div class="col">
    Serveur
  </div>
  <div class="col">
    Faction
  </div>
  <div class="col">
    #
  </div>
</div>

<div class="row h6 pb-2 text-center" *ngFor="let item of personnageService.personnagesObject; let index = index" [ngStyle]="{color:getFaction(item.faction)}">
  <div class="col">
    {{ index }}
  </div>
  <div class="col">
    {{item.name}}
  </div>
  <div class="col">
    {{item.gender}}
  </div>
  <div class="col">
    {{item.lvl}}
  </div>
  <div class="col">
    {{item.classe}}
  </div>
  <div class="col">
    {{item.race}}
  </div>
  <div class="col">
    {{item.realm}}
  </div>
  <div class="col">
    {{item.faction}}
  </div>
  <div class="col">
    <a [routerLink]="[index]" placement="top" ngbTooltip="{{item.name}} / {{item.classe}}" >Détails</a>
  </div>
</div>
</div>

<div class="row" *ngIf="personnageService.tokenAcquisPersonnage == false">
  <h2>Token manquant</h2>
</div>
