
<div class="container" *ngIf="tokenService.tokenAcquis == false">
  <h1>Accueil</h1>
  <H4>/!\ PRENDRE LE TOKEN /!\ : appuyer sur Token</H4>
  Cliquez sur la barre de navigation <br>
  Appel API Blizzard : afficher mes personnages, afficher mes montures.<br>
  Appel API TFT : afficher les 15 derniers matchs du nom entrée en input
</div>

<div class="container" *ngIf="tokenService.tokenAcquis == true">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">ACCESS TOKEN</h4>
    Token acquis : {{ tokenService.accessToken }}
  </div>
</div>

